.toggle,
[id^=drop] {
    display: none;
}

nav {
    width: 100%;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    font-size: 80%;
    width: 14%;
    
}

nav a {
    display: block;
    padding: 14px 20px;
    font-size: 1.1em;
    text-decoration: none;
}

nav ul li ul li:hover {
    background: #2c2c2c;
}

nav ul li:hover ul li {
    background-color: #fff;
}

/* Background color change on Hover */

nav a:hover {
    background-color: #d0d0d0;
}

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 45px;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
    display: inherit;

}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 200px;
    /* adjust line 89 to match */
    float: none;
    display: list-item;
    position: relative;
    font-size: 90%;
}

nav ul li ul li ul {
    height: 0px;
}

nav ul li ul li ul li {
    top: -45px;
    height: 25px;
}


/* Second, Third */

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
    
}

nav ul li ul  {
    box-shadow: 0 0 25px #888888;
}
.navWrap {
    margin: 0 auto;
    z-index: 200;
    width: 100%;
    float: left;
}

#navBar {
    margin: 0 auto;
    max-width: 1150px;

}

.menu {
    width: 100%;
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {

    li > a:after {
        content: ' +';
    }

    li > a:only-child:after {
        content: '';
    }

    nav {
        float: none;
        padding: 0;
    }

    nav a {
        background-color: rgba(78, 78, 78, 0.8);
        font-size: 1.5em;
    }

    nav ul li {
        color: #fff;
    }

    .navWrap {
        padding-left: 0%;
    }

    .toggle + a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: rgba(78, 78, 78, 0.8);
        padding: 14px 20px;
        color: #FFF;
        font-size: 1.5em;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    [id^=drop]:checked + ul {
        display: block;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }

    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
    }
}

@media all and (max-width: 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}
